/*
#content1 {width: 950px;height:550px;margin:0 auto;background-color:#f0f0f5;}
r
#tieu-de {font-size: 20px;font-weight:900;text-decoration:underline;color: red;text-align: cente;}

#khai-niem {width: 850px;height: auto;margin: 0 auto;font-size: 16px;}

.attacks-name {font-weight: 700;}
*/


/*====final-page===*/

	
#index {padding-right: 0px;}


#sori-content p{font-size: 20px;color:#127eea;}
/*===============================================================================================*/
